<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6"><span>Domain name</span></div>
    <div class="col-lg-6 col-md-6"><span>Backlinks</span></div>
  </div>
  <div class="row item" ng-repeat="domain in selected.domains">
    <div class="col-lg-6 col-md-6">
      <span>{{domain.url}}</span>
    </div>
    <div class="col-lg-5 col-md-5">
      <span>{{domain.backlinks}}</span>
    </div>
    <div class="col-lg-1 col-md-1">
      <span class="verify-btn"
            ng-class="{available : (
                              (selected.domainAvailable && (domain.domainAvailable !== undefined))
                              ? true
                              : false
                              )
                              , taken : (
                              ((!selected.domainAvailable) && (domain.domainAvailable !== undefined))
                              ? true
                              : false
                              )}"
            ng-click="selected.getDomainAvailability(domain)" title="Verify Availability"></span>
      <span class="del-btn" ng-click="selected.removeSavedDomain(domain)" title="Delete domain"></span>
    </div>
  </div>
</div>
